@import url('./reset.scss');

.nav_header {
  display: flex;
  justify-content: space-around;
  line-height: 40px;
  a {
    text-decoration: none;
    &.active {
      color: #f00;
      text-decoration: underline;
    }
  }
}
.body_content {
  transform: translate(20px);
  .logo {
    width: 100px;
    height: 100px;
    background: url('@/assets/logo.png');
    background-size: contain;
  }
  .hehe {
    color: #f0f;
  }
}